{% extends '../main_base.html' %}
{% load staticfiles %}
{% block content %}
  <body>
      <div class="lottery-title">
          <p class="form-title" id="title-type">保養所情報</p>
      </div>


      <object data="{% static 'pdf/保養所情報.pdf' %}" type="application/pdf" width="100%" height="700px">
          <p><b>表示されない時の表示</b>: <a href="{% static 'pdf/pdf/保養所情報.pdf' %}">PDF をダウンロード</a>.</p>
      </object>

     <footer>
         <div class="footer-image">
         <img class="rebirth-logo" src="{% static 'img/rebirth.png' %}" alt="社名ロゴマーク" width="50px" height="80px">
         </div>
        <div class="footer-text">
          <p class="copyright-text">c 2019 Sidebay_res_system_team</p>
       </div>

     </footer>
  {% endblock content %}
